doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="/css/style.css")
        title chat login
    body
        .container.column
            if failureMessage.length
                p.error #{failureMessage}
            form.login-form(method="POST", action="login")
                input.login-form__input(name="username", type="text", placeholder="Your nick")
                input.login-form__input(name="password" type="password" placeholder="Your password")
                input.login-form__btn(type="submit", value="Sign in")
                a(href="/register", class="login-form__sign") Don't have account?